fastapi
uvicorn[standard]
motor
python-dotenv
pandas
openpyxl
python-multipart
python-jose[cryptography]
bcrypt
passlib[bcrypt]
dnspython
rapidfuzz
celery
redis
slowapi
gunicorn
gevent
aiofiles
email-validator
httpx
boto3
botocore